* {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full-page {
    min-height: 100vh;
    overflow: auto;
    width: 100%;
}

/* COLOURS */
.black-text {color: #25292C;}
.gold-text {color: #DAA520;}
.white-text {color: #fff;}
.bg-black {background-color: #25292C; color: #fff;}
.bg-gold {background-color: #DAA520;}
.bg-white {background-color: #fff; color: #25292C;}
/* ####### */

.logo-container {
    height: 20vh;
    margin-top: 40vh;
}

.logo-text {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    display: block;
    padding: 20px;
    text-align: center;
}

.divider-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.btn-enter-site {
    background-color: transparent;
    border: 1px solid #DAA520;
    border-radius: 5px;
    color: #daa520;
    cursor: pointer;
    display: block;
    font-size: 2em;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    transition: 0.7s ease;
}

.btn-enter-site:hover {
    background-color: #DAA520;
    color: #fff;
}

.btn-book-us {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    width: 150px;
    transition: 0.7s ease;
}

.btn-book-us:hover {
    background-color: #fff;
    color: #25292C;
}

content p{
    margin: 0 auto;
    padding: 20px 0 10px 0;
    width: 80vw;
}

.profile-img-container {
    height: 30vw;
    margin: 0 auto; 
    width: 90vw;
}

.img-container {
    display: block;
    float: left;
    height: 30vw;
    position: relative;
    width: 30vw;
}

.profile-img {
    display: block;
    float: left;
    height: 30vw;
    margin: 0;
    padding:0;
    width: 30vw;
}

.profile-img-text {
    color: #FFF;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    transition: 0.7s ease;
}

.profile-img-text:hover {
    color: #daa520;
}

.social-media-container {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 30px;
    width: 51vw;
}

.social-media-icon {
    height: 15vw;
    float: left;
    padding: 2vw;
    width: 15vw;
    transition: 0.7s ease;
}

.social-media-icon:hover {
    height: 16vw;
    padding: 1vw;
    width: 16wv;
}

.page-header {
    padding: 20px 0 10px 0;
    text-align: center;
    width: 100%;
}

content ul li {
    text-indent: 50px;
}